name: Docker Project Build & Push

on:
  push:
    paths:
      - "server"
      - "Dockerfile"
    branches:
      - main

env:
  VERSION: ${{ github.sha }}
  OWNER: ${{ github.repository_owner }}
  REPO: ${{ github.repository }}
  REPO_NAME: ${{ github.event.repository.name }}

jobs:
  build-push:
    name: Build & Push
    runs-on: ubuntu-latest
    steps:
      - name: Setting Environment
        id: env
        run: |
          echo "OWNER=${OWNER,,}" >> $GITHUB_OUTPUT
          echo "REPO=${REPO,,}" >> $GITHUB_OUTPUT
          echo "REPO_NAME=${REPO_NAME,,}" >> $GITHUB_OUTPUT
          echo "GHCR_REPO=ghcr.io/${OWNER,,}/${REPO_NAME,,}" >> $GITHUB_OUTPUT
          echo "${{ secrets.ENV }}" >> $GITHUB_OUTPUT
      - uses: actions/checkout@v2
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      - name: Set up docker buildx
        id: buildx
        uses: docker/setup-buildx-action@v3
      - name: Cache docker layers
        uses: actions/cache@v2
        with:
          path: /tmp/.buildx-cache
          key: ${{ runner.os }}-buildx-${{ env.VERSION }}
          restore-keys: |
            ${{ runner.os }}-buildx-
      - name: Login to ghcr
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ steps.env.outputs.OWNER }}
          password: ${{ secrets.GHCR_TOKEN }}
      - name: Build and Push
        id: docker_build
        uses: docker/build-push-action@v5
        with:
          builder: ${{ steps.buildx.outputs.name }}
          platforms: linux/amd64,linux/arm64
          tags: ${{ steps.env.outputs.GHCR_REPO }}:latest
          push: true